.bridge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}


.dropdown-container {
  margin: 0;
  width: 30%;
}

.dropdown {
  width: 100%;
  padding: 12px;
  border: 3px solid rgb(141, 176, 240);
  border-radius: 8px;
  background-color: rgba(141, 176, 240, 0.1);
  font-size: 16px;
  color: rgb(251, 77, 218);
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
  font-family: "Silkscreen", serif !important;

  &:focus {
    border-color: rgb(141, 176, 240);
    box-shadow: 0 0 0 2px rgba(141, 176, 240, 0.2);
  }

  &:disabled {
    background-color: rgba(141, 176, 240, 0.1);
    cursor: not-allowed;
  }

  &:hover{
    background-color: transparent;
  }

  option {
    padding: 8px;
  }
}


.connect-message {
  text-align: center;
  padding: 20px;
  background: rgba(141, 176, 240, 0.1);
  border: 3px solid rgb(141, 176, 240);
  border-radius: 8px;
  margin: 20px 0;
  color: rgb(251, 77, 218);
  font-family: "Silkscreen", serif !important;
}

.call-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: rgba(141, 176, 240, 0.1);
  color: rgb(251, 77, 218);
  border: 3px solid rgb(141, 176, 240);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
  font-family: "Silkscreen", serif !important;



  &:disabled {
    border: 3px solid grey;
    color: grey;
    background-color: transparent;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: transparent;
    scale: 1.05;
    color: rgb(102, 226, 255);
  }
}

.error-message {
  margin-top: 12px;
  padding: 12px;
  background-color: transparent;
  color: rgb(251, 77, 218);
  border-radius: 4px;
  font-size: 14px;
  font-family: "Silkscreen", serif !important;
}

.amount-input {
  width: 30%;
  padding: 12px;
  border: 3px solid rgb(141, 176, 240);
  border-radius: 8px;
  background-color: rgba(141, 176, 240, 0.1);
  font-size: 16px;
  color: rgb(251, 77, 218);
  outline: none;
  transition: all 0.2s ease;
  font-family: "Silkscreen", serif !important;
  &:hover{
    background-color: transparent;
  }

  &:focus {
    border-color: rgb(141, 176, 240);
    box-shadow: 0 0 0 2px rgba(141, 176, 240, 0.2);
  }

  &:disabled {
    background-color: rgba(141, 176, 240, 0.1);
    cursor: not-allowed;
  }
}
.amount-input::placeholder{
  font-family: "Silkscreen", serif !important;
  color: rgb(251, 77, 218);
}

.bridge-form{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.origin-chain{
  color: rgb(251, 77, 218);
  font-family: "Silkscreen", serif !important;
  font-size: 1.5rem;
}

.bridge-header{

  display: flex;
  align-items:center ;
  align-self: flex-end;
  justify-content: center;
  flex-direction: column;
}